<div class="container">

  <h1>Cotizador</h1>

  <form id="ecot" action="#">
    <fieldset>
      <legend>Calculadora</legend>
      <label>Altura</label>
      <input type="text" name="h" placeholder="en metros">
      <label>Base</label>
      <input type="text" name="b" placeholder="en metros"><br><br>
      <label>Area (m2)</label>
      <input type="text" name="a" readonly="readonly">

      <label>Número de plantas</label>
      <input type="text" name="a" readonly="readonly">

      


      <label>Flujo (litros por hora)</label>
      <input type="text" name="a" readonly="readonly">

      <label>Consumo de agua (litros por día)</label>
      <input type="text" name="a" readonly="readonly">

      



       <br>
      
      <input type="button" class="btn" value="Calcular" onclick="cotizar();" />
    </fieldset>
  </form>
</div>

<script type="text/javascript" src="calculator.js">
</script>


















