<!--=== Content Part ===-->
<div class="container-fluid one-page">
    <div class="one-page-inner one-default" id="arch">
        <div class="container">
            <h1>Arquitecto</h1>
            <div class="row-fluid">
                <div class="span6">
                  <p>Ofrecemos áreas verdes fáciles de instalar, pues contamos con personal altamente calificado, que te brindara soporte no solo para instalarlo si no para hablar sobre  el mantenimiento que le podrás brindar a tu cliente.</p>
                  <p>Las ventajas que Biani te ofrece son: </p>
                  <ul>
                    <li>Los muros verdes Biani requieren de poco mantenimiento debido a las tecnologías empleadas.</li>
                    <li>Fácil de instalar, pues siempre encontraras herramientas que te apoyen a instalar.</li>
                    <li>Precios accesibles gracias al diseño modular </li>
                  </ul>
                    <!-- <a class="btn-u btn-u-large btn-u-green one-page-btn"><i class="icon-bolt"></i> libero adipiscing</a> -->
                </div>
                <div class="span6 text-right">
                  <%= image_tag("arch.jpg", :class => "margin-bottom-10", :alt => "") %>
                </div>
            </div>
        </div>
    </div>

    <div class="one-page-inner one-green" id="di">
        <div class="container">
            <h1>Diseñador de interiores</h1>
            <div class="row-fluid">
                <div class="span6">
                    <%= image_tag("id.jpg", :class => "margin-bottom-10", :alt => "") %>
                </div>
                <div class="span6">
                    <p>Un área verde en estos espacios es la clave para el equilibrio y la armonía que siempre buscas, siempre va con cualquier campo de acción al que te dediques desde el hogar hasta o construcciones grandes,  y no solo eso, en Biani siempre encontraras una asesoría y soporte necesario de los expertos en el tema, para que ese proyecto sea un éxito.</p>
                    <p>Además tu trabajo no termina ahí, si tu cliente requiere el mantenimiento de este muro verde, nosotros te ofrecemos el servicio de recordar a tus clientes que deben hacer su mantenimiento mensual, servicio que tu puedes dar con tu negocio.</p>
                    <p>Las ventajas que te ofrece Biani son: </p>
                    <ul class="white-li">
                      <li>Los muros verdes no requieren mucho mantenimiento, debido a las tecnologías empleadas.</li>
                      <li>Fácil de instalar, pues siempre encontraras herramientas que te apoyen.</li>
                      <li>Precios accesibles.</li>
                      <li>Trato profesional y personalizado.</li>
                    </ul>
                    <!-- <a class="btn-u btn-u-large btn-u-red one-page-btn"><i class="icon-bell"></i> Cotizar</a> -->
                </div>
            </div>
        </div>
    </div>

    <div class="one-page-inner one-grey" id="ent">
        <div class="container">
            <h1>Emprendedor</h1>
            <div class="row-fluid margin-bottom-40">
                <div class="span6">
                    <p>Biani te ofrece una manera de descubrir, como los espacios verdes pueden ser una oportunidad de crear una empresa exitosa.</p>
                    <p>Un área verde siempre es una clave de equilibrio, armonía no solo en el hogar si no en cualquier ámbito donde se coloque, oficinas, hospitales, escuelas, exteriores, etc., además de esto Biani te ofrece soporte técnico e información para la toma de desiciones que puedas llegar a tener, en tus ventas, de esa forma no solo vendes productos, si no experiencias. </p>
                    <p>Biani te ofrece las siguientes ventajas:</p>
                    <ul>
                      <li>Los muros verdes no requieren mucho mantenimiento, debido a las tecnologías empleadas.</li>
                      <li>Fácil de instalar, pues siempre encontraras herramientas que te apoyen a instalar.</li>
                      <li>Precios accesibles.</li>
                      <li>Trato profesional y personalizado</li>
                    </ul>
                    <!-- <a class="btn-u btn-u-large btn-u-blue one-page-btn"><i class="icon-bullhorn"></i> libero adipiscing</a> -->
                </div>
                <div class="span6 text-right">
                    <%= image_tag("en.jpg", :class => "margin-bottom-10", :alt => "") %>
                </div>
            </div>
        </div>
    </div>

    <div class="one-page-inner one-green" id="nature">
      <div class="container">
          <h1>Amante de la naturaleza</h1>
            <div class="row-fluid">
              <div class="span6">
                    <%= image_tag("nat.jpg", :class => "margin-bottom-10", :alt => "") %>
                </div>
                <div class="span6">
                    <p>Para el ser humano la naturaleza es de suma importancia, pues esta es vida, sin embargo, el ámbito en donde nos encontramos ha hecho que las grandes industrias, los edificios, la contaminación, haga que la naturaleza luche por convivir con nosotros. 
                    Biani te ofrece, un área verde llena de vida, para colocarlo en cualquier espacio, y no solo eso, también te ofrecemos asesoría y soporte para instalarlo, darle mantenimiento, y seguimiento.</p>
                    <p>Las ventajas que te ofrece Biani son: </p>
                    <ul class="white-li">
                      <li>Los muros verdes no requieren mucho mantenimiento, debido a las tecnologías empleadas. </li>
                      <li>Fácil de instalar, pues siempre encontraras herramientas que te apoyen a instalar.</li>
                      <li>Precios accesibles.</li>
                      <li>Trato profesional y personalizado</li>
                    </ul>
                    <!-- <a class="btn-u btn-u-large btn-u-green one-page-btn"><i class="icon-comments-alt"></i> libero adipiscing</a> -->
                </div>
            </div>
        </div>
    </div>   
</div><!--/container-fluid-->
<!-- End Content Part -->



















