<!--=== Content Part ===-->
<div class="container-fluid one-page">
    <div class="one-page-inner one-default" id="modular">
        <div class="container">
            <h1>Sistema modular</h1>
            <div class="row-fluid">
                <div class="span6">
                    <p>Biani fue pensado como un sistema para reducir el costo del muro. At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero consectetur adipiscing elit magna. Sed et quam lacus..</p>
                    <p>Polipropileno (PP), Libre de fugas, rápido ensamble y desenamble debido a que no requiere de pegamento, flitro especial UV que lo protege de los rayos del sol en instalaciones a la intemperie, alta resistencia a impacto, y por estar hecho de tres capas, ofrece un buen aislamiento térmico que 'protege las raízes de las plantas</p>
                    <a class="btn-u btn-u-large btn-u-green one-page-btn"><i class="icon-bolt"></i> libero adipiscing</a>
                </div>
                <div class="span6">
                  <%= image_tag("img5.jpg", :class => "margin-bottom-10", :alt => "") %>
                </div>
            </div>
        </div>
    </div>

    <div class="one-page-inner one-green" id="instal">
        <div class="container">
            <h1>De fácil instalación</h1>
            <div class="row-fluid">
                <div class="span6">
                    <%= image_tag("img1.jpg", :class => "margin-bottom-10", :alt => "") %>
                </div>
                <div class="span6">
                    <p>El sistema Biani está diseñado pare ser fácil y rápido de instalar. Consta de dos partes, el sistema de riego y el muro en dónde se colocan las plantas. Nostros te proveemos todas las partes necesarias y al estar registrado en nuestra página tendrás acceso a videos de instalación.</p>
                    <p>Adicionalmente te proveemos las herramientas en línea para calcular si tu toma de agua puede proveer el agua necesaria, que tiempo meter en el timer de riego, cada cuanto requieres cambio de nutrientes, etc.</p>
                    <a class="btn-u btn-u-large btn-u-red one-page-btn"><i class="icon-bell"></i> Cotizar</a>
                </div>
            </div>
        </div>
    </div>

    <div class="one-page-inner one-grey" id="mant">
        <div class="container">
            <h1>Y que requiere mínimo mantenimiento</h1>
            <div class="row-fluid margin-bottom-40">
                <div class="span6">
                    <p>Gracias al sistema drain to waste, una vez instalado, el sistema de riego automático únicamente requiere del rellenado periódico de nutrientes, proceso que toma no más de 5 minutos. Un muro promedio de 40 m2 requiere de rellenado de nutrientes cada 6 meses.
                      Adicionalmente, si eres miembro de la página, puedes registrar tu muro, o muros, y nosotros te enviaremos un correo electrónico recordándote que es tiempo de realizar el rellenado de nutrientes.</p>
                    <p>En caso de que hayas instalado el muro para un tercero, te ofrecemos la posibilidad de enviarte el recordatorio a tí o a quien tu nos indiques.
                    </p>
                    <a class="btn-u btn-u-large btn-u-blue one-page-btn"><i class="icon-bullhorn"></i> libero adipiscing</a>
                </div>
                <div class="span6">
                    <%= image_tag("img7.jpg", :class => "margin-bottom-10", :alt => "") %>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span6">
                    <%= image_tag("img6.jpg", :class => "margin-bottom-10", :alt => "") %>
                </div>
                <div class="span6">
                    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero consectetur adipiscing elit magna. Sed et quam lacus..</p>
                    <p>Fusce condimentum eleifend enim a feugiat. Pellentesque viverra vehicula sem ut volutpat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna. Sed et quam lacus. Fusce condimentum eleifend enim a feugiat.</p>
                    <a class="btn-u btn-u-large btn-u-orange one-page-btn"><i class="icon-briefcase"></i> libero adipiscing</a>
                </div>
            </div>
        </div>
    </div>

</div><!--/container-fluid-->
<!-- End Content Part -->



















