<!--=== Content Part ===-->
<div class="container-fluid one-page">
  <div class="one-page-inner one-default" id="modular">
    <div class="container">
      <h1>Sistema modular</h1>
      <div class="row-fluid">
        <div class="span6">
          <p>Los muros Biani se construyen a partir de dos tipos de módulo base pensados para minimizar costos de manufactura y envío. Combinando estos módulos se pueden armar muros verdes de cualquier tamaño.</p>
          <p>Los módulos están hechos de un plástico multicapa, de alta resistencia al impacto y con un filtro UV integrado. Las ventajas son:</p>
          <ul>
            <li><b>Multicapa:</b> aislamiento térmico que protege las raíces de las plantas.</li>
            <li><b>Resistencia al impacto:</b> ideal para resistir maltratos al ser transportados y condiciones de instalación en ambientes de obra civil.</li>
            <li><b>Filtro UV:</b> protección de los rayos solares en instalaciones a la intemperie previniendo la degradación que otros plásticos como el PVC presentan al ser expuestos al sol.</li>
          </ul><br>
          <a href="https://dl.dropboxusercontent.com/u/2501570/Hoja%20t%C3%A9cnica%20Biani.pdf" class="btn-u btn-u-large btn-u-green one-page-btn"><i class="icon-file-alt"></i> Ficha Técnica</a>
        </div>
        <div class="span6 text-right">
          <%= image_tag("modul.jpg", :class => "margin-bottom-10", :alt => "") %>
        </div>
      </div>
    </div>
  </div>

  <div class="one-page-inner one-green" id="instal">
    <div class="container">
      <h1>Fácil instalación, riego automatizado</h1>
      <div class="row-fluid">
        <div class="span6">
          <%= image_tag("easy.jpg", :class => "margin-bottom-10", :alt => "") %>
        </div>
        <div class="span6">
          <p>El sistema Biani está diseñado para ser fácil y rápido de instalar. Únicamente es necesario sacar los módulos de sus empaques y fijarlos a la pared. No se requiere de impermeabilización de esta pared, y en caso que no exista una pared, los módulos se pueden instalar directamente sobre una estructura de soporte.</p>
          <p>Los módulos ya incluyen el sustrato en el que se desarrollan las raíces por lo que sólo se requiere colocar las plantas.</p>
          <p>Adicionalmente a los módulos te enviaremos un kit de riego automático, dimensionado para el tamaño de tu muro. Éste se conecta a una toma de agua de manguera para jardín y el controlador de riego requiere de una toma de electricidad. Nosotros te decimos cómo programar el controlador y cuanto tiempo de riego requiere tu muro.</p><br>
          <a href="<%= '/invoice' %>" class="btn-u btn-u-large btn-u-red one-page-btn"><i class="icon-external-link"></i> Cotizar</a>
        </div>
      </div>
    </div>
  </div>

  <div class="one-page-inner one-grey" id="mant">
    <div class="container">
      <h1>Y que requiere mínimo mantenimiento</h1>
      <div class="row-fluid margin-bottom-40">
        <div class="span6">
          <p>El sistema de riego de Biani únicamente tiene dos partes que requieren de mantenimiento periódico:</p>
          <ul>
            <li><b>Limpieza del filtro:</b> Depende del tamaño del muro y la calidad del agua</li>
            <li><b>Rellenado de nutrientes:</b> Proceso que lleva no más de 10 minutos. Como referencia, un muro de 20 metros cuadrados requiere rellenado cada 6 meses.</li>
          </ul>
          <p>Si registras tu muro en nuestra página nosotros te enviaremos un correo electrónico recordándote que es tiempo de cambiar los nutrientes de tal manera que tu muro verde Biani siempre se encuentre sano.</p>
          <p>En cuanto a las plantas, dependiendo de las variedades y sus ciclos de vida éstas requerirán ser cambiadas periódicamente. Nosotros recomendamos que se contrate a un jardinero que realice una visita cada par de meses para reemplazar plantas, podar y dar mantenimiento general.</p><br>
          <!-- <a class="btn-u btn-u-large btn-u-blue one-page-btn"><i class="icon-bullhorn"></i> libero adipiscing</a> -->
        </div>
        <div class="span6 text-right">
          <%= image_tag("mant.png", :class => "margin-bottom-10", :alt => "") %>
        </div>
      </div>
    </div>
  </div>

</div><!--/container-fluid-->
<!-- End Content Part -->



















