<!--=== Breadcrumbs ===-->
<div class="breadcrumbs margin-bottom-30">
  <div class="container">
    <h1 class="color-green pull-left">Cotizador</h1>
  </div><!--/container-->
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->



<div class="container">

  <form id="ecot" action="#">
    <fieldset>
      <label>Altura</label>
      <input type="text" name="h" placeholder="en metros">
      <label>Base</label>
      <input type="text" name="b" placeholder="en metros"><br><br>
      <label>Area (m2)</label>
      <input type="text" name="a" readonly="readonly">
      <label>Precio Total (MXN)</label>
      <input type="text" name="pricemxn" readonly="readonly">
      <label>Precio Total (USD)</label>
      <input type="text" name="priceusd" readonly="readonly">
      <label>Precio por metro (MXN)</label>
      <input type="text" name="priceMmxn" readonly="readonly">
      <label>Precio Total (USD)</label>
      <input type="text" name="priceMusd" readonly="readonly"> <br>
      
      <input type="button" class="btn-u" value="Calcular" onclick="cotizar();" />
    </fieldset>
  </form>
</div>


<script type="text/javascript" src="cotizador.js">
</script>


















