<!--=== Content Part ===-->
<div class="container-fluid one-page">
  <div class="one-page-inner one-default" id="what">
    <div class="container">
      <h1>¿Qué es un muro verde?</h1>
      <div class="row-fluid">
        <div class="span6">
          <p>Un muro verde es un jardín vertical. Un área natural en el muro de tu hogar, oficina, o cualquier espacio arquitectónico. El pionero en esta técnica fue el botánico y artista francés Patrick Blanc. Los jardines verticales ó muros verdes también son conocidos como paredes vivientes, biomuros, muros vivos.</p>
          <p>Un muro verde es un sistema en el cual las plantas o en este caso las hortalizas no necesitan tierra para poder vivir, únicamente minerales, luz y dióxido de carbono.</p>
          <p>Gracias a la multitud de colores, texturas y tamaños que ofrece la naturaleza nos permiten formar patrones llamativos y diseños únicos. Los jardines verticales u hortalizas se pueden instalar tanto en espacios exteriores e interiores y dependiendo de las plantas de la zona geográficas se hace una selección y después el diseño de la paleta vegetal.<p>

          <br>
          <!-- <a class="btn-u btn-u-large btn-u-green one-page-btn"><i class="icon-bolt"></i> libero adipiscing</a> -->
        </div>
        <div class="span6 text-right">
          <%= image_tag("que.jpg", :class => "margin-bottom-10", :alt => "") %>
        </div>
      </div>
    </div>
  </div>

  <div class="one-page-inner one-green" id="why">
    <div class="container">
      <h1>¿Por qué tener un muro verde?</h1>
      <div class="row-fluid">
        <div class="span6">
          <%= image_tag("para.jpg", :class => "margin-bottom-10", :alt => "") %>
        </div>
        <div class="span6">
          <ul class="white-li">
            <li>Barrera de sol</li>
            <li>Colchón acústico</li>
            <li>Mejoran la calidad del aire</li>
            <li>Reducen el estrés</li>
            <li>Mantienen la temperatura</li>
            <li>Humidifican el ambiente</li>
            <li>Es un filtro de aire nocivo que contiene partículas cancerígenas</li>
            <li>Son estéticos en el lugar donde se coloquen</li>
          </ul>


          <p>Nos encontramos en un planeta en el que se ha invertido el marco histórico del que procedemos, la naturaleza se enfrenta a la tarea de ganar metro a metro, espacio a espacio.</p>
          <p>Lamentablemente en algunos casos  la urbanización ha ganado, pues estas áreas no son recuperables por la misma naturaleza, lo anterior no pasaría de ser un problema estético, si no fuera porque no dejamos de depender de la biosfera, de sus ciclos y su capacidad de regeneración, para mantenernos como especie. </p><br>
          <!-- <a class="btn-u btn-u-large btn-u-red one-page-btn"><i class="icon-bell"></i> Cotizar</a> -->
        </div>
      </div>
    </div>
  </div>

  <div class="one-page-inner one-grey" id="choose">
    <div class="container">
      <h1>¿Por qué elegirnos?</h1>
      <div class="row-fluid margin-bottom-40">
        <div class="span6">
          <p>Biani es una empresa en pro a la naturaleza que quiere crear conciencia sobre una mejor calidad ambiental, estamos convencidos que es necesario ampliar los estándares de cultura, educación e identidad en nosotros, a precios accesibles, con un nuevo concepto en el cual te podemos orientar en cada paso para tener una vida más verde. </p>
          <!-- <a class="btn-u btn-u-large btn-u-blue one-page-btn"><i class="icon-bullhorn"></i> libero adipiscing</a> -->
        </div>
        <div class="span6 text-right">
          <%= image_tag("eleg.jpg", :class => "margin-bottom-10", :alt => "") %>
        </div>
      </div>
    </div>
  </div>

</div><!--/container-fluid-->
<!-- End Content Part -->



















